<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, height=device-height" />
  <script src="js/jquery.min.js"></script>
  <script src="js/funciones.js"></script>
  <script src="../vendor/twbs/bootstrap/dist/js/bootstrap.min.js"></script>
  <link rel="icon" href="img/easyToPrint.ico">
  <link rel="stylesheet" href="../vendor/twbs/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/stylee.css" />
  <script src="js/JsBarcode.all.js"></script>
  <script src="js/qrcode.min.js"></script>
  <title>Carnets</title>
</head>

<body>