<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <form class="form-signin" method="GET" action="." target="_blank">
              <h5 class="card-title text-center h2">easyToPrint</h5>
              <br>
              <div id="opciones" class="carousel slide" data-interval="false">
                <div class="carousel-inner">
                  <div class="carousel-item active" data-interval="false">
                    <div class="form-label-group Collapse">
                      <select name="curso" id="cursos" class="form-control" onchange="actualizarDivis(this.value)" autofocus>
                        <option selected disabled value="-1" hidden>Ingrese Curso</option>
                        <option value="-1">Todos</option>
                      </select>
                    </div>
                    <br>
                    <div class="form-label-group Collapse">
                      <select name="division" id="divisiones" class="form-control ">
                        <option selected disabled value="-1" hidden>Ingrese Division</option>
                        <option value="-1">Todas</option>
                      </select>
                    </div>
                  </div>
                  <div class="carousel-item" data-interval="false">
                    <label for="listcarnets">Carnets a imprimir separados por ';'</label>
                    <textarea class="form-control" id="listcarnets" rows="3" name="listcarnets"></textarea>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#opciones" role="button" data-slide="prev" id="izquierda" onclick="limpiar(this.id)">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#opciones" role="button" data-slide="next" id="derecha" onclick="limpiar(this.id)">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
              <br>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <input type="checkbox" name="onlyWithPhotos">
                  </div>
                </div>
                <input type="text" class="form-control" value="Solo alumnos con foto" readonly>
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <input type="checkbox" name="originalSize">
                  </div>
                </div>
                <input type="text" class="form-control" value="Fotos a calidad original" readonly>
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <input type="checkbox" name="noImpresos">
                  </div>
                </div>
                <input type="text" class="form-control" value="Solo no impresos" readonly>
              </div>
              <br>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" name="page" value="list">Listar frente</button>
              <button class="btn btn-lg btn-info btn-block text-uppercase" type="submit" name="page" value="reverse">Listar reverso</button>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" name="page" value="guardarImpreso">Guardar como impreso</button>
            </form>
            <div class="hidden">
              <h5 class="card-title text-center h2">Easy Carnet</h5>
              <h1 style="text-align: center;">Descargas</h1>
              <a class="btn btn-lg btn-primary btn-block" type="button" href="./apk/easyToShot.apk">easyToShot</a>
              <a class="btn btn-lg btn-info btn-block" type="button" value="reverse" href="./apk/easyQR.apk">easyQR</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>